<a href="https://colab.research.google.com/github/EduardoMoraesRitter/CA_MU_DS_VINCE/blob/master/teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import matplotlib.pyplot as pl 
import seaborn as sns  
train = pd.read_csv('https://raw.githubusercontent.com/EduardoMoraesRitter/CA_MU_DS_VINCE/master/dado_municipios%20.csv', encoding='UTF-8', error_bad_lines=False, sep=';') 

train

     Cód. IBGE  Cód. CNES  ... Índice Futuridade  Grau Futuridade
0      3500105     350010  ...              66,5           (Alto)
1      3500204     350020  ...              60,1           (Alto)
2      3500303     350030  ...                27          (Baixo)
3      3500402     350040  ...              57,2     (Médio-alto)
4      3500501     350050  ...              66,8           (Alto)
..         ...        ...  ...               ...              ...
640    3557006     355700  ...              35,5          (Médio)
641    3557105     355710  ...                50     (Médio-alto)
642    3557154     355715  ...                60     (Médio-alto)
643    3557204     355720  ...              50,9     (Médio-alto)
644    3557303     355730  ...              37,2          (Médio)

[645 rows x 29 columns]

In [3]:
train.isnull().sum()

Cód. IBGE                      0
Cód. CNES                      0
Municipio                      0
População                      0
Crianças (0 a 14 anos)         0
Jovens (15 a 24 anos)          0
Adultos (25 a 59 anos)         0
Idosos (60 a 75+ anos)         0
População Masculina            0
População Feminina             0
Grau de Urbanização (Em %)     0
Abastecimento de Água          0
Coleta de Lixo                 0
Esgoto Sanitário               0
 Total Doses Aplicadas         0
Qtd. Estabelecimentos          0
Total Equip (existente)        0
Total Equip (em uso)           0
Total Medicos                 28
Densidade demográfica          0
Mortalidade infantil           0
Renda\nper capta               0
IDHM                           0
IDHM Longevidade               0
IDHM Educação                  0
IDHM Renda                     0
IDHM Ranking                   0
Índice Futuridade              0
Grau Futuridade                0
dtype: int64